<div class="overflow-auto p-3 mx-auto" style="max-height: 450px;">
  <div class="table-responsive">
    <table class="table table-hover" id="applicationTable">
      <thead>
        <tr>
          <th scope="col" class="text-nowrap">更新</th>
          <th scope="col" class="text-nowrap">編號</th>
          <th scope="col" class="text-nowrap">狀態</th>
          <th scope="col" class="text-nowrap">進度</th>
          <th scope="col" class="text-nowrap">項目</th>
          <th scope="col" class="text-nowrap">敘述</th>
          <th scope="col" class="text-nowrap">申請人</th>
          <th scope="col" class="text-nowrap">申請日期</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr>
          <td>
            {{#ifNot ../user.role 'user'}}
            <a href="/manage/apply/{{this.id}}" class="btn btn-primary">更新</a>
            {{/ifNot}}
            {{#ifCond ../user.role 'user'}}
            <a href="/apply/{{this.id}}" class="btn btn-primary">查看</a>
            {{/ifCond}}
          </td>
          <th scope="col">{{this.id}}</th>
          <td>{{this.status}}</td>
          <td>{{this.progress}}</td>
          <td>{{this.Category.category}}</td>
          <td>{{this.description}}</td>
          <td>{{this.User.name}}</td>
          <td>{{this.applyDate}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<div class="mt-3 row justify-content-center align-items-center">
  <a href="/home" class="btn btn-dark mt-2" style="width: 150px;">返回上一頁</a>
</div>